<h3>Create new Players</h3>

<form id="createplayer" action="/createPlayer" method="post">
    <br>
    First Name:
    <input type="text" name="fName">
    <br>
    Last Name:
    <input type="text" name="lName">
    <br>
    NBA Team:
    <select name="team">
        <option value="Atlanta Hawks">Atlanta Hawks</option>
        <option value="Boston Celtics">Boston Celtics</option>
        <option value="Brooklyn Nets">Brooklyn Nets</option>
        <option value="Charlotte Hornets">Charlotte Hornets</option>
        <option value="Chicago Bulls">Chicago Bulls</option>
        <option value="Cleveland Cavaliers">Cleveland Cavaliers</option>
        <option value="Dallas Mavericks">Dallas Mavericks</option>
        <option value="Denver Nuggets">Denver Nuggets</option>
        <option value="Detroit Pistons">Detroit Pistons</option>
        <option value="Golden State Warriors">olden State Warriors</option>
        <option value="Houston Rockets">Houston Rockets</option>
        <option value="Indiana Pacers">Indiana Pacers</option>
        <option value="Los Angeles Clippers">Los Angeles Clippers</option>
        <option value="Los Angeles Lakers">Los Angeles Lakers</option>
        <option value="Memphis Grizzlies">Memphis Grizzlies</option>
        <option value="Miami Heat">Miami Heat</option>
        <option value="Milwaukee Bucks">Milwaukee Bucks</option>
        <option value="Minnesota Timberwolves">Minnesota Timberwolves</option>
        <option value="New Orleans Pelicans">New Orleans Pelicans</option>
        <option value="New York Knicks">New York Knicks</option>
        <option value="Oklahoma City Thunder">Oklahoma City Thunder</option>
        <option value="Orlando Magic">Orlando Magic</option>
        <option value="Philadelphia 76ers">Philadelphia 76ers</option>
        <option value="Phoenix Suns">Phoenix Suns</option>
        <option value="Portland Trail Blazers">Portland Trail Blazers</option>
        <option value="Sacramento Kings">Sacramento Kings</option>
        <option value="San Antonio Spurs">San Antonio Spurs</option>
        <option value="Toronto Raptors">Toronto Raptors</option>
        <option value="Utah Jazz">Utah Jazz</option>
        <option value="Washington Wizards">Washington Wizards</option>
    </select>
    <br>
    Position:
    <select name="Position">
        <option value="PG">PG</option>
        <option value="SG">SG</option>
        <option value="SF">SF</option>
        <option value="PF">PF</option>
        <option value="C">C</option>
    </select>
    <br>
    <input type="submit" value="Submit">
</form>

{{status}}

<h3>Current Players</h3>
<table id="create">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Team</th>
        <th>Position</th>
    </tr>
{{#each player}}
    <tr>
        <td>{{this.fName}}</td>
        <td>{{this.lname}}</td>
        <td>{{this.basketballTeam}}</td>
        <td>{{this.position}}</td>
    </tr>
{{/each}}
</table>