<h3>Create New League</h3>

<form id="createleague" action="/createLeague" method="post">
    <br>
    League Name
    <input type="text" name="name">
    <br>
    Scoring System
    <br>
    Fantasy Points for each FGM
    <input type="number" name="FGM">
    <br>
    Fantasy Points for each FGA
    <input type="number" name="FGA">
    <br>
    Fantasy Points for each FTM
    <input type="number" name="FTM">
    <br>
    Fantasy Points for each FTA
    <input type="number" name="FTA">
    <br>
    Fantasy Points for each Point
    <input type="number" name="Points">
    <br>
    Fantasy Points for each Assist
    <input type="number" name="Assists">
    <br>
    Fantasy Points for each Rebound
    <input type="number" name="Rebounds">
    <br>
    Fantasy Points for each Steal
    <input type="number" name="Steals">
    <br>
    Fantasy Points for each Block
    <input type="number" name="Blocks">
    <br>
    Fantasy Points for each Turnover
    <input type="number" name="Turnovers">
    <br>
    <input type="submit" value="Submit">
</form>

{{status}}


<h3>Current Leagues</h3>
<table id="create">
    <tr>
        <th>LeagueName</th>
        <th>FGM</th>
        <th>FGA</th>
        <th>FTM</th>
        <th>FTA</th>
        <th>Points</th>
        <th>Assists</th>
        <th>Rebounds</th>
        <th>Steals</th>
        <th>Blocks</th>
        <th>Turnovers</th>
    </tr>
{{#each options}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.FGM}}</td>
        <td>{{this.FGA}}</td>
        <td>{{this.FTM}}</td>
        <td>{{this.FTA}}</td>
        <td>{{this.points}}</td>
        <td>{{this.assists}}</td>
        <td>{{this.rebounds}}</td>
        <td>{{this.steals}}</td>
        <td>{{this.blocks}}</td>
        <td>{{this.turnovers}}</td>
    </tr>
{{/each}}
</table>