<h3>Create new Team</h3>

<form id="createteam" action="/createTeam" method="post">
    <br>
    Team Name:
    <input type="text" name="teamName">
    <br>
    Abbreviation:
    <input type="text" name="abbreviation">
    <br>
    <input type="submit" value="Submit">
</form>

{{Status}}

<h3>Current Teams in {{#each league}}{{this.name}}{{/each}}</h3>
<table>
    <tr>
        <th>TeamName</th>
        <th>Abbreviation</th>
        <th>Delete Team</th>
    </tr>
{{#each team}}
    <tr>
        <td>{{this.fantasyTeamName}}</td>
        <td>{{this.abbreviation}}</td>
        <td><form action="/deleteTeam" method="post">
                <input type="hidden" name="teamId" value="{{this.id}}">
                <input type="submit" value="Remove Team">
            </form></td>
    </tr>
{{/each}}
</table>