<h1>Schedule</h1>

<table>
    <tr>
        <th>Week</th>
        <th>Home Team</th>
        <th>Score</th>
        <th>Away Team</th>
        <th>Details</th>
    </tr>
    {{#each matchup}}
    <tr>
        <td>{{this.week}}</td>
        <td>{{this.homeTeam}}</td>
        <td>{{this.homeTeamPoints}} - {{this.awayTeamPoints}}</td>
        <td>{{this.awayTeam}}</td>
        <td><form action="/viewMatchup" method="post">
                <input type="hidden" name="id" value="{{this.matchupId}}">
                <input type="submit" value="View Matchup">
            </form></td>
    </tr>
    {{/each}}
</table>