<h1>Schedule</h1>

<table>
    <tr>
        <th>Week</th>
        <th>Home Team</th>
        <th>Home Score</th>
        <th>Away Score</th>
        <th>Away Team</th>
        <th>Details</th>
    </tr>
    {{#each matchup}}
    <tr>
        <td>{{this.week}}</td>
        <td>{{this.homeTeam}}</td>
        <td>{{this.homeTeamPoints}}</td>
        <td>{{this.awayTeamPoints}}</td>
        <td>{{this.awayTeam}}</td>
        <td>{{this.details}}</td>
    </tr>
    {{/each}}
</table>