<h1>Unowned Players</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Team</th>
        <th>Position</th>
        <th>FGM</th>
        <th>FGA</th>
        <th>FTM</th>
        <th>FTA</th>
        <th>Points</th>
        <th>Assists</th>
        <th>Rebounds</th>
        <th>Steals</th>
        <th>Blocks</th>
        <th>Turnovers</th>
        <th>Fantasy Points</th>
        <th>Add</th>
    </tr>
{{#each player}}
    <tr>
        <td>{{this.fName}} {{this.lname}}</td>
        <td>{{this.basketballTeam}}</td>
        <td>{{this.position}}</td>
        <td>{{this.FGA}}</td>
        <td>{{this.FGM}}</td>
        <td>{{this.FTA}}</td>
        <td>{{this.FTM}}</td>
        <td>{{this.points}}</td>
        <td>{{this.assists}}</td>
        <td>{{this.rebounds}}</td>
        <td>{{this.steals}}</td>
        <td>{{this.blocks}}</td>
        <td>{{this.turnovers}}</td>
        <td>{{this.FantasyPoints}}</td>
        <td><form id="selectteam" action="/addPlayer" method="post">
                <select name="Team">
                    {{#each ../team}}
                    <option value="{{this.id}}">{{this.fantasyTeamName}}</option>
                    {{/each}}
                </select>
                <input type="hidden" name="player" value="{{this.playerId}}">
                <input type="submit" value="Add">
            </form></td>
    </tr>
{{/each}}
</table>